<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>

    <body>
        <!-- header -->
        <!-- end_header -->

        <!-- js -->
        <!-- footer -->
        <!-- footer -->
    </body>
</html>
