<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>

    <body>
        <!-- header -->
        <%- include('partials/header.ejs') %>
        <!-- end_header -->

        <div class="container-fluid"></div>
        <!-- js -->
        <!-- footer -->
        <!-- footer -->
    </body>
</html>
