<a
    href="/view/point"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
>
    <span class="fs-4">Tích điểm</span>
</a>
<hr />
<ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
        <a
            href="/view/point"
            class="nav-link active"
            id="nav-link-sidebar"
            aria-current="page"
        >
            <i class="bi bi-house-door" style="font-size: 20px; margin-right: 5px"></i>
            Cài đặt điểm
        </a>
    </li>
    <li>
        <a href="/view/gift" class="nav-link" id="nav-link-sidebar">
            <i class="bi bi-gift" style="font-size: 20px; margin-right: 5px"></i>
            Phần quà
        </a>
    </li>
</ul>
