<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center mt-5">404 Not Found !</h1>
            <div class="text-center">
                <a class="btn btn-danger" href="/view/login">Quay lại đăng nhập</a>
            </div>
        </div>
    </body>
</html>
