<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <div class="container d-flex align-items-center justify-content-center">
            <div>
                <img src="/img/fail.gif" alt="" width="350" />
            </div>
            <div style="font-weight: bold; font-size: 20px">
                <div class="mb-3">{</div>
                <div class="ms-5">message: <%= message %></div>
                <div class="mt-3">}</div>
            </div>
        </div>
    </body>
</html>
