<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <div class="container d-flex align-items-center justify-content-center">
            <h1>
                AWACO Cám ơn bạn đã tin tưởng. Bạn vui lòng kiểm tra email thường để có
                cập nhật đăng kí mới nhất
            </h1>
        </div>
    </body>
</html>
